<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Better luck next time!</h1>
      <h2>Do you want to play again?</h2>
      <button type="button" id="playAgain">Play again</button>
    </div>
    <script src="finish.js"></script>
  </body>
</html>
